hardware/FADD/fadd/*
hardware/FADD/mksrc
hardware/FMUL/fmul/*
hardware/FMUL/mksrc 
work/*
fi
god.pdf
*~
*.tmp
software/fi
software/test
software/difft.txt
cpfadd.c
hardware/examples/*
hardware/work/*
hardware/work/_info
hardware/FADD/fadd.c
*.mti
*.txt
hardware/mksrc
*.mpf
*.wlf
